<% var users = users; if(users){ %>

<ul class="pager">
    <li class="previous"><a href="/admin/usermsg?page=<%= userMsg.page - 1 %>">上一页</a></li>
    <li> 一共有 <%= userMsg.userCount %> 条数据, 每页有 <%= userMsg.limit %> 条数据, 现在是第 <%= userMsg.page %> 页</li>
    <li class="next"><a href="/admin/usermsg?page=<%= userMsg.page + 1 %>">下一页</a></li>
</ul>

<% }else{ %>

<ul class="pager">
    <li class="previous"><a href="/admin/category/?page=<%= categoryMsg.page - 1 %>">上一页</a></li>
    <li> 一共有 <%= categoryMsg.categoryCount %> 条数据, 每页有 <%= categoryMsg.limit %> 条数据, 现在是第 <%= categoryMsg.page %> 页</li>
    <li class="next"><a href="/admin/category/?page=<%= categoryMsg.page + 1 %>">下一页</a></li>
</ul>

<% } %>




