<%- include('layout') %>

<main>
	<div class="leftBox">
			<% for(var content of data.contents){ %>
				<section>
					<h2> <%= content.title %> </h2>
					<p id="introduction">
						作者: <span><%= content.user.username %></span> -
						时间: <span><%= moment(content.addTime).format('YYYY-MM-DD HH:mm:ss') %></span> -
						阅读: <span><%= content.views %></span> -
						评论: <span><%= content.comments.length %></span>
					</p>
					<p id="description"> <%= content.description %> </p>	
					<div id="article"><a href="/view?category=<%= categoryId.category %>&content=<%= content._id %>">阅读全文</a></div>
				</section>				
			<% } %>

			<section id="pages">

				<% if(contentMsg.page <= 1){ %>
					<a href="javascript:;">没有上一页了</a>
				<% }else{ %>
					<a href="/?category=<%= categoryId.category %>&page=<%= contentMsg.page - 1 %>">上一页</a>
				<% } %>

				<% if(contentMsg.pages > 0){ %>
					<span><%= contentMsg.page %> / <%= contentMsg.pages %></span>
				<% }else{ %>
					<span>当前分类下没有内容</span>
				<% } %>

				<% if(contentMsg.page >= contentMsg.pages){ %>
					<a href="javascript:;">没有下一页了</a>
				<% }else{ %>
					<a href="/?category=<%= categoryId.category %>&page=<%= contentMsg.page + 1 %>">下一页</a>
				<% } %>

			</section>
	</div>
	<aside>
        <% var userInfo = userInfo; if(userInfo){ %>  <!-- ejs模板,if选择渲染后另外的部分就不渲染,取不到dom节点 -->
				<div id="userBox">
					<div class="title"><span>用户信息</span></div>
					<p class="line">
						<span id="username"><%= userInfo.username %></span>
					</p>

					<% if(!userInfo.isAdmin){ %>
						<p class="line">
							你好,欢迎光临我的博客！
						</p>
					<% }else{ %>
						<p class="line">
							你好,管理员！<a href="/admin">进入管理</a>
						</p>	
					<% } %>

					<p class="line"><a href="javascript:;" id="logoutBtn">退出</a></p>
			    </div>
		<% }else{ %>
				<div id="loginBox">
					<div class="title"><span>登录</span></div>
					<form>
						<div class="line">
							<span>用户名:</span>
							<input type="text" name="username">
						</div>
						<div class="line">
							<span>密码:</span>
							<input type="password" name="password">
						</div>
						<div class="line">
							<input type="button" name="submit" value="登录" id="loginBtn">
						</div>
						<div class="line">
							<span class="userInfo" id="loginInfo"></span>
						</div>
						<div class="line">
							<p>还没注册？<a href="javascript:;" id="registerLink">马上注册</a></p>
						</div>
					</form>
				</div>
		<% } %>
		<div id="registerBox" style="display: none">
				<div class="title">注册</div>
				<form>
					<div class="line">
						<span>用户名:</span>
						<input type="text" name="username">
					</div>
					<div class="line">
						<span>密码:</span>
						<input type="password" name="password">
					</div>
					<div class="line">
						<span>确认:</span>
						<input type="password" name="repassword">
					</div>
					<div class="line">
						<span class="userInfo" id="registerInfo"></span>
					</div>
					<div class="line">
						<input type="button" name="submit" value="注册" id="registerBtn">
					</div>
					<div class="line">
						<p>已有账号？<a href="javascript:;" id="loginLink">马上登录</a></p>
					</div>
				</form>
		</div>
		<div>
			<div class="title"><span>社区</span></div>
			<p class="line"><a href="#">Node</a></p>
			<p class="line"><a href="#">React</a></p>
		</div>
	</aside>
</main>

<script type="text/javascript" src="/js/index.js"></script>